/*
	REM size fallback
	$property 	css property (font-size, line-height)
	$value 		int/float;
*/
@mixin rem($property, $value){
  #{$property}: $value * 16px; /* fallback */
  #{$property}: #{$value + 'rem'};
}


@mixin ir {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}