<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/main.css">
  </head>
  <body>
    {{content}}
    <script data-main="/assets/js/main.js" src="/assets/js/requirejs.js"></script>
  </body>
</html>
